.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

}

.mainImage{
  width: 100%;
  }
.swipeUP{
  width: 20%;
  position: relative;
  top: -23pc;
  margin-left: auto;
  margin-right: auto;

}
.text{
  position: relative;
  top: -10pc;
 
}
.typewriter-text {
  font-weight: 700;
  font-size: 30px;
}
.typewriter2{
  margin: 1pc;
  display: inline-block;
}

.typewriter-text2 {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 200;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: black; 
    }
}

#followUP,#opposite {
  visibility: hidden;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 1pc;;
}

input{
  margin: 1pc;
}
label{
  font-size: 20px;
}
button{
  margin: 1pc;
  border-radius: 2pc;
}

#opposite{
  font-size: 30px;
  font-weight: 500;
}